body {
    background: radial-gradient(circle at center,red, rebeccapurple);
    color:ivory;
}

.groovy{
    font-weight:bold;
    font-style: italic;
}

#loginTitleText{
    color: green;
    font-style: italic;
    text-transform: uppercase;
}

#loginDivText{
    color: yellow;
    font-weight: bolder;
    
}

#indexTitle{
    color: red;
}