body {
    background: linear-gradient(90deg,white,#2eacd4);
}

.groovy{
    font-weight:bold;
    font-style: italic;
}

#loginTitleText{
    color: green;
    font-style: italic;
    text-transform: uppercase;
}

#loginDivText{
    color: yellow;
    font-weight: bolder;
    
}

.button {
width: 100px; 
height: 30px;
background-color: white;
border-radius: 12px;
border-color: turquoise;

}

.lgbutton {
    width: 200px; 
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: turquoise;
    
    }

    .BtnContain {
        display: flex;
    }

    .logoDiv {
        align-items: left;
    }

    .lgerButton {
        width: 400px; 
        height: 100px;
        background-color: white;
        padding: 10px 24px;
        flex-basis: 33%;
        border-color: turquoise;
        
        }
#objTitle{
    font-size: x-large;
    
}

#wrap {
    float: left;
    position: relative;
    left: 50%;
    padding: 20px;
    
}

#content {
    padding-left: 200px;
    padding-right: 200px;
    float: left;
    position: relative;
    left: -50%;
    font-size: larger;
    
}